# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react


# 제외파일 
### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# 제외폴더
node_modules
bower_components

**/node_modules
**/bower_components

*.sublime*

# 덤프파일
psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react
